
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  border: 2px solid blue;
}

.image-container{
    display:flex;

}

.image-container {
  border-radius: 20px;
}
